In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('D:\\Desktop2\\desktop3\\Desktop2\\SECOM\\artifacts\\data_ingestion\\Raw_data.csv')

In [3]:
data.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_55,feature_56,feature_57,feature_58,feature_59,feature_60,feature_61,feature_62,feature_63,PassFail
0,7.9558,-5419.00,2916.50,1.7730,64.2333,83.3971,9.5126,86.9555,61.29,0.9317,...,29.9394,311.6377,9.7752,64.6707,0.0000,0.1096,0.0078,0.78,0.3157,-1
1,10.1548,-5441.50,2604.25,2.0143,68.4222,84.9052,9.7997,87.5241,78.25,0.9324,...,40.4475,463.2883,10.2211,141.4365,0.0000,0.1096,0.0078,1.33,0.2653,-1
2,9.5157,-5447.75,2701.75,2.0295,67.1333,84.7569,8.6590,84.7327,14.37,0.9139,...,32.3594,21.3645,8.3977,240.7767,244.2748,0.1096,0.0078,0.85,0.1882,1
3,9.6052,-5468.25,2648.25,2.0038,62.9333,84.9105,8.6789,86.6867,76.90,0.9139,...,27.6824,24.2831,9.1494,113.5593,0.0000,0.1096,0.0078,39.33,0.1738,-1
4,10.5661,-5476.25,2635.25,1.9912,62.8333,86.3269,8.7677,86.1468,76.39,0.9298,...,30.8924,44.8980,7.4365,148.0663,0.0000,0.1096,0.0078,1.98,0.2224,-1

In [6]:
data.dtypes

feature_1     float64
feature_2     float64
feature_3     float64
feature_4     float64
feature_5     float64
               ...
feature_60    float64
feature_61    float64
feature_62    float64
feature_63    float64
PassFail        int64
Length: 64, dtype: object

In [1]:
mylist = [10.285644423323834,-5593.340599825043,2699.1360664802733,1.9530225646481287,69.20370540118755,85.73066751854122,8.779652350622023,86.71530373753588,76.4967476746405,0.9358831308133988,4.664674088660294,6.505188720549239,34.70479473696337,33.49481127945076,39.13703829720074,148.1756635378243,585.6713206578902,-0.0432180005023944,0.0059993044497611,8859.961648749395,0.0001214782535884,7.852174641151413e-05,-0.0079771306459339,0.0,15.817852174641152,4.071680046890151,15.863556523923451,15.83496522248806,1.4918930696173356,2.5964573870813217,-0.0742815721052923,0.7035973016028592,1012.1297589954576,821.7508916093022,601.0206212716222,0.1397309905758448,0.1232296279346414,2.834226293837928,16.06410458373306,28.575757562205368,9.036409117226668,14.29999161961856,11.945191485646705,17.377548813401315,7.082060672247968,0.1103084387799212,0.014205304617226,5.139714497560076,3.123664501675293,0.0338265230861301,0.0054531299760746,16.803385468309937,23.669465331932976,13.833674724470209,37.65741215971212,149.61129370728816,13.623696329235846,54.29871053537472,794.3313759862966,0.1096,0.0078,1.502678287081451,0.328101298923422]

In [2]:
len(mylist)

63

In [6]:
import pandas as pd

df = pd.DataFrame({'Name' : ['a', 'b', 'c'], 'contno':[1,2,3]})

df.head()

  Name  contno
0    a       1
1    b       2
2    c       3

In [8]:
df[['contno']]

   contno
0       1
1       2
2       3

In [9]:
independent_train_X = df.drop(columns = ['contno'], axis = 1)
dependent_train_Y = df[['contno']]

In [10]:
independent_train_X

  Name
0    a
1    b
2    c

In [11]:
dependent_train_Y

   contno
0       1
1       2
2       3