In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('D:\\Desktop2\\desktop3\\Desktop2\\SECOM\\artifacts\\data_ingestion\\Raw_data.csv')

In [3]:
data.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_55,feature_56,feature_57,feature_58,feature_59,feature_60,feature_61,feature_62,feature_63,PassFail
0,7.9558,-5419.00,2916.50,1.7730,64.2333,83.3971,9.5126,86.9555,61.29,0.9317,...,29.9394,311.6377,9.7752,64.6707,0.0000,0.1096,0.0078,0.78,0.3157,-1
1,10.1548,-5441.50,2604.25,2.0143,68.4222,84.9052,9.7997,87.5241,78.25,0.9324,...,40.4475,463.2883,10.2211,141.4365,0.0000,0.1096,0.0078,1.33,0.2653,-1
2,9.5157,-5447.75,2701.75,2.0295,67.1333,84.7569,8.6590,84.7327,14.37,0.9139,...,32.3594,21.3645,8.3977,240.7767,244.2748,0.1096,0.0078,0.85,0.1882,1
3,9.6052,-5468.25,2648.25,2.0038,62.9333,84.9105,8.6789,86.6867,76.90,0.9139,...,27.6824,24.2831,9.1494,113.5593,0.0000,0.1096,0.0078,39.33,0.1738,-1
4,10.5661,-5476.25,2635.25,1.9912,62.8333,86.3269,8.7677,86.1468,76.39,0.9298,...,30.8924,44.8980,7.4365,148.0663,0.0000,0.1096,0.0078,1.98,0.2224,-1

In [6]:
data.dtypes

feature_1     float64
feature_2     float64
feature_3     float64
feature_4     float64
feature_5     float64
               ...
feature_60    float64
feature_61    float64
feature_62    float64
feature_63    float64
PassFail        int64
Length: 64, dtype: object